<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- changes from the defaults -->
		<!-- 全局性设置懒加载。如果设为‘false’，则所有相关联的都会被初始化加载,默认值：false -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<!--这里给实体类取别名，方便在mapper配置文件中使用 -->
		<package name="com.oa.pojo" />
	</typeAliases>
</configuration>  
